## PYTHON: Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 

### 1. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. 

### 2. Python supports modules and packages, which encourages program modularity and code reuse.


## Why Python Language is used?

### 1. Python is a general-purpose coding language which means that, unlike HTML, CSS, and JavaScript.

### 2. It can be used for other types of programming and software development besides web development which includes back end development, software development, data science and writing system scripts among other things.

## IMPORTING THE LIBRARIES REQUIRED

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os
import numpy as np
import pandas as pd

## Keywords: Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

## Identifiers: An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [4]:
1var = 10

SyntaxError: invalid syntax (<ipython-input-4-51bb9eeee5b3>, line 1)

In [5]:
val2@ = 35

SyntaxError: invalid syntax (<ipython-input-5-822a8ef5c741>, line 1)

In [6]:
import = 125

SyntaxError: invalid syntax (<ipython-input-6-ebe66de63218>, line 1)

#### OBSERVATION: 

 1. Identifier can't start with a digit.
 2. Identifier can't use special symbols 
 3. Keywords can't be used as identifiers

## Correct way of defining an identifier

In [7]:
val2 = 10

In [8]:
val_ = 99

### CONCLUSION: Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore.

## Comments in Python: Comments can be used to explain the code for more readabilty.

### Single line comment

In [9]:
val1 = 10

### Multiple line comment

In [10]:
'''
Multiple 
line comment
'''
val1 = 10

In [11]:
"""
Multiple
line comment
"""
val1 = 10

## Statements: Instructions that a Python interpreter can execute.

### Single line statement

In [12]:
a = 10 + 20
a

30

In [13]:
x = ['a' , 'b' , 'c' , 'd']
x

['a', 'b', 'c', 'd']

### Multiple line statement

In [14]:
A = 2 + 30 \
    + 40 + 5 +\
    + 7 + 80
A

164

In [15]:
y = ['a' ,
     'b' ,
     'c' ,
     'd'
    ]
y

['a', 'b', 'c', 'd']

## Indentation: Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.

### --> If the indentation is not correct we will endup with Indentation error.

### Correct Indentation

In [16]:
p = 10
if p == 10:
 print ('P is equal to 10')

P is equal to 10

In [17]:
for i in range(0,5):
 print(i)

0
1
2
3
4

In [18]:
p = 100
if p == 100:
print ('P is equal to 100')

IndentationError: expected an indented block (<ipython-input-18-60b188e1e025>, line 3)

In [19]:
for i in range(0,5):
print(i)

IndentationError: expected an indented block (<ipython-input-19-4a6de03bf63e>, line 2)

### CONCLUSION: If Indentation is skipped we will encounter "IndentationError: expected an indented block"

### Correct Indentation but less readable

In [20]:
for i in range(0,5): print(i)

0
1
2
3
4

In [21]:
R = 20
for i in range(0,5):
 print(i) # inside the for loop
print(R) # outside the for loop

0
1
2
3
4
20

## Docstrings

### 1. Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules.
### 2. They appear right after the definition of a function, method, class, or module.

In [22]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [23]:
square(50)

2500

### We can access the Docstring using __doc__ method

In [24]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [25]:
def evenodd(num):    
     '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
     if num % 2 == 0:        
         print("Even Number")    
     else:
         print("Odd Number")

In [26]:
evenodd(30)

Even Number

In [27]:
evenodd(7)

Odd Number

In [28]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

## Variables: A Python variable is a reserved memory location to store values.A variable is created the moment you first assign a value to it.

In [29]:
S = 30

In [30]:
'''
id() function returns the “identity” of the object.\

The identity of an object - Is an integer, Guaranteed to be unique, Constant for this object during its lifetime.\
'''

'\nid() function returns the “identity” of the object.\nThe identity of an object - Is an integer, Guaranteed to be unique, Constant for this object during its lifetime.'

In [31]:
id(S)

140721291016896

### Memory address of the variable

In [32]:
hex(id(S))

'0x7ffc3a903ac0'

In [33]:
A = 20  # Creates an integer object with value 20 and assigns the variable p to point to that object.

B = 20  # Create new reference q which will point to value 20. A & B will be pointing to same memory location.

C = B   # variable r will also point to the same location where A & B are pointing

A , type(A), hex(id(A)) # Variable A is pointing to memory location '0x7fff6d71a3f0' where value 20 is stored

(20, int, '0x7ffc3a903980')

In [34]:
B , type(B), hex(id(B))

(20, int, '0x7ffc3a903980')

In [35]:
C , type(C), hex(id(C))

(20, int, '0x7ffc3a903980')

### Variable Overwriting

In [36]:
F = 205
F = F + 1500
F

1705

### Variable Assigment

In [37]:
intvar = 100               # Integer variable
floatvar = 20.57           # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

100
20.57
Python Language

### Multiple Assignments

In [38]:
intvar , floatvar , strvar = 100, 20.57,"Python Language" # Using commas to separate variables and their corresponding values

print(intvar)
print(floatvar)
print(strvar)

100
20.57
Python Language

In [39]:
A = B = C = D = 44   # All variables pointing to same value
print(A, B, C, D)

44 44 44 44

## Data Types

### Numeric

#### Integer data type

In [40]:
val1 = 50                                           
print(val1)
print(type(val1))                                   # type of object
print(sys.getsizeof(val1))                          # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int))  # val1 is an instance of int class

50
<class 'int'>
28
50  is Integer? True

#### Float data type

In [41]:
val2 = 1292.978 
print(val2)
print(type(val2))                                   # type of object
print(sys.getsizeof(val2))                          # size of float object in bytes
print(val2, " is float?", isinstance(val2, float))  # Val2 is an instance of float class

1292.978
<class 'float'>
24
1292.978  is float? True

#### Complex data type

In [42]:
val3 = 125 + 190j 
print(val3)
print(type(val3))                                      # type of object
print(sys.getsizeof(val3))                             # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex class

(125+190j)
<class 'complex'>
32
(125+190j)  is complex? True

 ### size of integer object in bytes

In [43]:
sys.getsizeof(int())

24

### size of float object in bytes

In [44]:
sys.getsizeof(float())

24

### size of complex object in bytes

In [45]:
sys.getsizeof(complex())

32

### Boolean: Boolean data type can have only two possible values "True or False".

In [46]:
bool1 = True

In [47]:
bool2 = False

In [48]:
print(type(bool1))

<class 'bool'>

In [49]:
print(type(bool2))

<class 'bool'>

In [50]:
isinstance(bool1, bool)

True

In [51]:
bool(0)

False

In [52]:
bool(1)

True

In [53]:
bool(None)

False

In [54]:
bool(False)

False

In [55]:
bool(True)

True

## Strings

#### String Creation

In [56]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

#### Defining string using single quotes

In [57]:
mystr = 'Hello World' 
print(mystr)

Hello World

#### Defining string using double quotes

In [58]:
mystr = "Hello World" 
print(mystr)

Hello World

#### Define string using triple quotes

In [59]:
mystr = '''Hello
             World '''
print(mystr)

Hello
             World

In [60]:
mystr = """Hello
             World""" 
print(mystr)

Hello
             World

In [61]:
mystr = ( 'Happy '
          'Weekend '
          'Everyone' )
print(mystr)

Happy Weekend Everyone

In [62]:
mystr1 = 'PYTHON '
mystr1 = mystr1*5
mystr1

'PYTHON PYTHON PYTHON PYTHON PYTHON '

In [63]:
len(mystr1)

35

### String Indexing

In [64]:
str1

'HELLO PYTHON'

#### First character in string "str1"

In [65]:
str1[0]

'H'

#### Last character in string using len function

In [66]:
str1[len(str1)-1]

'N'

#### Last character in string

In [67]:
str1[-1]

'N'

#### Fetch 7th element of the string

In [68]:
str1[6]

'P'

In [69]:
str1[5]

' '

### String Slicing

#### Fetch all characters from 0 to 5 index location excluding the character at loc 5.

In [70]:
str1[0:5]

'HELLO'

####  Retreive all characters between 6 - 12 index loc excluding index loc 12.

In [71]:
str1[6:12]

'PYTHON'

#### Retreive last four characters of the string

In [72]:
str1[-4:]

'THON'

#### Retreive last six characters of the string

In [73]:
str1[-6:]

'PYTHON'

#### Retreive last four characters of the string

In [74]:
str1[:4]

'HELL'

####  Retreive last six characters of the string

In [75]:
str1[:6]

'HELLO '

### Update & Delete String

In [76]:
str1

'HELLO PYTHON'

#### Strings are immutable which means elements of a string cannot be changed once they have been assigned.

In [77]:
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

#### Delete a string

In [78]:
del str1
print(str1)

NameError: name 'str1' is not defined

### String concatenation

In [79]:
s1 = "Hello"
s2 = "PAVANI NADELLA"
s3 = s1 + s2
print(s3)

HelloPAVANI NADELLA

In [80]:
s1 = "Hello"
s2 = "PAVANI NADELLA"
s3 = s1 + " " + s2
print(s3)

Hello PAVANI NADELLA

### Iterating through a String

In [81]:
mystr1 = "Hello Everyone, Welcome."

In [82]:
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e
,

W
e
l
c
o
m
e
.

In [83]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')
(14, ',')
(15, ' ')
(16, 'W')
(17, 'e')
(18, 'l')
(19, 'c')
(20, 'o')
(21, 'm')
(22, 'e')
(23, '.')

#### Enumerate method adds a counter to an iterable and returns it in a form of enumerate object.

In [84]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e'),
 (14, ','),
 (15, ' '),
 (16, 'W'),
 (17, 'e'),
 (18, 'l'),
 (19, 'c'),
 (20, 'o'),
 (21, 'm'),
 (22, 'e'),
 (23, '.')]

### String Membership: A Membership Operator in Python can be defined as being an operator that is used to validate the membership of a value. This operator is used to test memberships in variables such as strings, integers as well as tuples. Membership Operators as a whole contain a number of different operators.

In [85]:
mystr1 = "Hello Everyone, Welcome"
print ('Hello' in mystr1)           # Check whether substring "Hello" is present in string "mysrt1"
print ('Everyone' in mystr1)        # Check whether substring "Everyone" is present in string "mysrt1"
print ('Welcome' in mystr1)         # Check whether substring "Welcome" is present in string "mysrt1"
print ('Hi' in mystr1)              # Check whether substring "Hi" is present in string "mysrt1"

True
True
True
False

### String Partitioning: The partition( ) method searches for a specified string, and splits the string into a tuple containing three elements. 
#### 1. The first element contains the part before the specified string. 
#### 2. The second element contains the specified string. 
#### 3. The third element contains the part after the argument string.

In [86]:
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [87]:
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [88]:
mystr2 = " Hello Everyone, Welcome. "
mystr2

' Hello Everyone, Welcome. '

#### Removing white space from begining & end

In [89]:
mystr2.strip()

'Hello Everyone, Welcome.'

#### Removing all whitespaces at the end of the string

In [90]:
mystr2.rstrip()

' Hello Everyone, Welcome.'

#### Removing all whitespaces at the begining of the string

In [91]:
mystr2.lstrip()

'Hello Everyone, Welcome. '

In [92]:
mystr2 = "****** Hello Everyone ******** Welcome *******"
mystr2

'****** Hello Everyone ******** Welcome *******'

#### Removes all '*'  characters from begining & end of the string

In [93]:
mystr2.strip('*')

' Hello Everyone ******** Welcome '

####  Removes all '*' characters at the end of the string

In [94]:
mystr2.rstrip('*')

'****** Hello Everyone ******** Welcome '

####  Removes all '*' characters at the begining of the string

In [95]:
mystr2.lstrip('*')

' Hello Everyone ******** Welcome *******'

In [96]:
mystr2 = " Hello, Welcome "

#### Return whole string in lowercase

In [97]:
mystr2.lower()

' hello, welcome '

#### Return whole string in uppercase

In [98]:
mystr2.upper()

' HELLO, WELCOME '

#### Replace substring "He" with "Ho"

In [99]:
mystr2.replace("He" , "Ho")

' Hollo, Welcome '

#### Remove all whitespaces using replace function

In [100]:
mystr2.replace(" " , "")

'Hello,Welcome'

In [101]:
mystr5 = "one two Three one two two three"

#### Number of times substring "one" occurred in string

In [102]:
mystr5.count("one")

2

#### Number of times substring "two" occurred in string.

In [103]:
mystr5.count("two")

3

#### Return boolean value True if string starts with "one"

In [104]:
mystr5.startswith("one")

True

#### Return boolean value True if string ends with "three"

In [105]:
mystr5.endswith("three")

True

In [106]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten"

#### Split String into substrings

In [107]:
mylist = mystr4.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten']

#### Combining string & numbers using format method

In [108]:
item1 = 405
item2 = 551
item3 = 777
res = "Cost of item1, item2 and item3 are {}, {} and {}"
print(res.format(item1,item2,item3))

Cost of item1, item2 and item3 are 405, 551 and 777

In [109]:
item1 = 405
item2 = 551
item3 = 777
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 777 , 551 and 405

In [110]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)            # center align the string using a specific character as the fill character.
print(str2)

                                          WELCOME EVERYONE

In [111]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*')     # center align the string using a specific character ('*') as the fill character.
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [112]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50)           # Right align the string using a specific character as the fill character.
print(str2)

                                 WELCOME EVERYONE

In [113]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*')      # Right align the string using a specific character ('*') as the fill character.
print(str2)

******************************** WELCOME EVERYONE

In [114]:
str4 = "one two three four five six seven"
loc = str4.find("five")                      # Find the location of word 'five' in the string "str4"
print(loc)

19

In [115]:
str4 = "one two three four five six seven"
loc = str4.index("five")                     # Find the location of word 'five' in the string "str4"
print(loc)

19

In [116]:
mystr6 = '0123456789'
print(mystr6.isalpha())              # returns True if all the characters in the text are letters
print(mystr6.isalnum())              # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal())            # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric())            # returns True if all the characters are numeric (0-9)

False
True
True
True

In [117]:
mystr6 = 'abcdefghij'
print(mystr6.isalpha())             # returns True if all the characters in the text are letters
print(mystr6.isalnum())             # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal())           # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric())           # returns True if all the characters are numeric (0-9)

True
True
False
False

In [118]:
mystr6 = 'abc12309'
print(mystr6.isalpha())              # returns True if all the characters in the text are letters
print(mystr6.isalnum())              # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal())            # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric())            # returns True if all the characters are numeric (0-9)

False
True
False
False

In [119]:
mystr7 = 'ABCDEFGHIJ'
print(mystr7.isupper())              # Returns True if all the characters are in upper case
print(mystr7.islower())              # Returns True if all the characters are in lower case

True
False

In [120]:
mystr8 = 'abcdefghij'
print(mystr8.isupper())              # Returns True if all the characters are in upper case
print(mystr8.islower())              # Returns True if all the characters are in lower case

False
True

In [121]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one")               # last occurrence of word 'one' in string "str6"
print(loc)

51

In [122]:
loc = str6.rindex("one")              # last occurrence of word 'one' in string "str6"
print(loc)

51

In [123]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [124]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [125]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

#### Using double quotes in the string is not allowed.

In [126]:
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-126-56569977a5a7>, line 1)

#### Using escape character to allow illegal characters

In [127]:
mystr = "My favourite Movie is \"ANAND\""
print(mystr)

My favourite Movie is "ANAND"

## List

#### 1. List is an ordered sequence of items.
#### 2. We can have different data types under a list. E.g we can have integer, float and string items in a same list.

#### List Creation

In [128]:
list1 = [] # Empty List

In [129]:
print(type(list1))

<class 'list'>

In [130]:
list2 = [10,30,60]                               # List of integers numbers
list3 = [10.77,30.66,60.89]                      # List of float numbers
list4 = ['one','two' , "three"]                  # List of strings
list5 = ['PAVANI', 25 ,[50, 100],[150, 90]]        # Nested Lists
list6 = [100, 'PAVANI', 17.765]                    # List of mixed data types
list7 = ['PAVANI', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [131]:
len(list6) #Length of list

3

### List Indexing

#### Retreive first element of the list

In [132]:
list2[0]

10

#### Retreive first element of the list

In [133]:
list4[0]

'one'

#### Nested indexing - Access the first character of the first list element

In [134]:
list4[0][0]

'o'

#### Last item of the list

In [135]:
list4[-1]

'three'

#### Last item of the list

In [136]:
list5[-1]

[150, 90]

### List Slicing

In [137]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [138]:
mylist[0:3]        # Return all items from 0th to 3rd index location excluding the item at loc 3.

['one', 'two', 'three']

In [139]:
mylist[2:5]        # List all items from 2nd to 5th index location excluding the item at loc 5.

['three', 'four', 'five']

In [140]:
mylist[:3]         # Return first three items

['one', 'two', 'three']

In [141]:
mylist[:2]         # Return first two items

['one', 'two']

In [142]:
mylist[-3:]        # Return last three items

['six', 'seven', 'eight']

In [143]:
mylist[-2:]        # Return last two items

['seven', 'eight']

In [144]:
mylist[-1]         # Return last item of the list

'eight'

In [145]:
mylist[:]          # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [146]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [147]:
mylist.append('nine')     # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [148]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [149]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [150]:
mylist.remove('ONE')        # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [151]:
mylist.pop()                # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [152]:
mylist.pop(8)               # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [153]:
del mylist[7]              # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

#### Change value of the string

In [154]:
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [155]:
mylist.clear()             # Empty List / Delete all items in the list
mylist

[]

### Copy List

In [156]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [157]:
mylist1 = mylist                   # Create a new reference "mylist1"

In [158]:
id(mylist) , id(mylist1)          # The address of both mylist & mylist1 will be the same as both are pointing to same list.

(2805671078208, 2805671078208)

In [159]:
mylist2 = mylist.copy()         # Create a copy of the list

In [160]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist2 is pointing to the copy of the existing

2805671128192

In [161]:
mylist[0] = 1

In [162]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [163]:
mylist1                         # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [164]:
mylist2                         # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join Lists

In [165]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [166]:
list3 = list1 + list2                 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [167]:
list1.extend(list2)                    # Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List Membership

In [168]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [169]:
'one' in list1         # Check if 'one' exist in the list

True

In [170]:
'ten' in list1        # Check if 'ten' exist in the list

False

In [171]:
if 'three' in list1:                         # Check if 'three' exist in the list
     print('Three is present in the list')
else:
     print('Three is not present in the list')

Three is present in the list

In [172]:
if 'eleven' in list1:                        # Check if 'eleven' exist in the list
     print('eleven is present in the list')
else:
     print('eleven is not present in the list')

eleven is not present in the list

### Reverse & Sort List

In [173]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [174]:
list1.reverse()              # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [175]:
list1 = list1[::-1]          # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [176]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()                # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [177]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)                   # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [178]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)                      # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [179]:
mylist4

[88, 65, 33, 21, 11, 98]

### Loop through a list

In [180]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [181]:
for i in list1:
     print(i)

one
two
three
four
five
six
seven
eight

In [182]:
for i in enumerate(list1):
     print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [183]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [184]:
list10.count('one')              # Number of times item "one" occurred in the list

3

In [185]:
list10.count('two')              # Occurence of item 'two' in the list

2

In [186]:
list10.count('four')             # Occurence of item 'four' in the list

1

## All / Any

### The all() method returns:

   #### 1. True - If all elements in a list are true.
   #### 2. False - If any element in a list is false.

### The any() function returns True if any element in the list is True. If not, any() returns False.

In [187]:
L1 = [1,2,3,4,0]

In [188]:
all(L1)          # Will Return false as one value is false (Value 0)

False

In [189]:
any(L1)             # Will Return True as we have items in the list with True value

True

In [190]:
L2 = [1, 2, 3, 4, True, False]

In [191]:
all(L2)             # Returns false as one value is false

False

In [192]:
any(L2)             # Will Return True as we have items in the list with True value

True

In [193]:
L3 = [1, 2, 3, True]

In [194]:
all(L3)             # Will return True as all items in the list are True

True

In [195]:
any(L3)             # Will Return True as we have items in the list with True value

True

### List Comprehensions:

#### 1. List Comprehensions provide an elegant way to create new lists.
#### 2. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [196]:
mystring = "WELCOME"

In [197]:
mylist = [ i for i in mystring ]            # Iterating through a string Using List Comprehension
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [198]:
mylist1 = [ i for i in range(40) if i % 2 == 0]     # Display all even numbers between 0 - 40 using List Comprehension
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [199]:
mylist2 = [ i for i in range(40) if i % 2 == 1]     # Display all odd numbers between 0 - 40 using List Comprehension
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [200]:
mylist3 = [num**2 for num in range(10)]             # calculate square of all numbers between 0 - 10 using List Comprehension
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [201]:
# Multiple whole list by 10

list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [202]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension

mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [203]:
# Odd even test

l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [204]:
# Extract numbers from a string

mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [205]:
# Extract letters from a string

mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

## Tuples

#### 1. Tuple are similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.

#### 2. When we do not want to change the data over time, tuple is a preferred data type.

#### 3. Iterating over the elements of a tuple is faster compared to iterating over a list.

### Tuple Creation

In [206]:
tup1 = ()                                  # Empty tuple

In [207]:
tup2 = (10, 30, 60)                          # tuple of integers numbers

In [208]:
tup3 = (10.77, 30.66, 60.89)                 # tuple of float numbers

In [209]:
tup4 = ('one','two' , "three")             # tuple of strings

In [210]:
tup5 = ('PAVANI', 25 ,(50, 100),(150, 90)) # Nested tuples

In [211]:
tup6 = (100, 'PAVANI', 17.765)             # Tuple of mixed data types

In [212]:
tup7 = ('PAVANI', 25 ,[50, 100],[150, 90] , {'AKHIL' , 'NAVEEN'} , (99,22,33))

In [213]:
len(tup7)                                  #Length of list

6

### Tuple Indexing

In [214]:
tup2[0]                  # Retreive first element of the tuple

10

In [215]:
tup4[0]                  # Retreive first element of the tuple

'one'

In [216]:
tup4[0][0]               # Nested indexing - Access the first character of the first tuple element

'o'

In [217]:
tup4[-1]                # Last item of the tuple

'three'

In [218]:
tup5[-1]                # Last item of the tuple

(150, 90)

### Tuple Slicing

In [219]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [220]:
mytuple[0:3]       # Return all items from 0th to 3rd index location excluding the item at loc 3.

('one', 'two', 'three')

In [221]:
mytuple[2:5]       # List all items from 2nd to 5th index location excluding the item at loc 5.

('three', 'four', 'five')

In [222]:
mytuple[:3]        # Return first three items

('one', 'two', 'three')

In [223]:
mytuple[:2]        # Return first two items

('one', 'two')

In [224]:
mytuple[-3:]    # Return last three items

('six', 'seven', 'eight')

In [225]:
mytuple[-2:]    # Return last two items

('seven', 'eight')

In [226]:
mytuple[-1]    # Return last item of the tuple

'eight'

In [227]:
mytuple[:]     # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & Change Items

In [228]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#### Tuples are immutable which means we can't DELETE tuple items

In [229]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

#### Tuples are immutable which means we can't CHANGE tuple items

In [230]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

#### Deleting entire tuple object is possible

In [231]:
del mytuple

### Loop through a tuple

In [232]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [233]:
for i in mytuple:
     print(i)

one
two
three
four
five
six
seven
eight

In [234]:
for i in enumerate(mytuple):
     print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [235]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [236]:
mytuple1.count('one')        # Number of times item "one" occurred in the tuple.

3

In [237]:
mytuple1.count('two')        # Occurence of item 'two' in the tuple

2

In [238]:
mytuple1.count('four')       #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [239]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [240]:
'one' in mytuple          # Check if 'one' exist in the list

True

In [241]:
'ten' in mytuple          # Check if 'ten' exist in the list

False

In [242]:
if 'three' in mytuple:                         # Check if 'three' exist in the list
     print('Three is present in the tuple')
else:
     print('Three is not present in the tuple')

Three is present in the tuple

In [243]:
if 'eleven' in mytuple:                        # Check if 'eleven' exist in the list
     print('eleven is present in the tuple')
else:
     print('eleven is not present in the tuple')

eleven is not present in the tuple

### Index Position

In [244]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [245]:
mytuple.index('one')           # Index of first element equal to 'one'

0

In [246]:
mytuple.index('five')          # Index of first element equal to 'five'

4

In [247]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [248]:
mytuple1.index('one')          # Index of first element equal to 'one'

0

### Sorting

In [249]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [250]:
sorted(mytuple2)                # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [251]:
sorted(mytuple2, reverse=True)  # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

## Sets

   #### 1. Unordered & Unindexed collection of items.

   #### 2. Set elements are unique. Duplicate elements are not allowed.

   #### 3. Set elements are immutable (cannot be changed).

   #### 4. Set itself is mutable. We can add or remove items from it.

### Set Creation

In [252]:
myset = {1,2,3,4,5}          # Set of numbers
myset

{1, 2, 3, 4, 5}

In [253]:
len(myset)                  #Length of the set

5

In [254]:
my_set = {1,1,2,2,3,4,5,5}
my_set                      # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [255]:
myset1 = {1.79,2.08,3.99,4.56,5.45}          # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [256]:
myset2 = {'PAVANI' , 'AKHIL' , 'NAVEEN'}          # Set of Strings
myset2

{'AKHIL', 'NAVEEN', 'PAVANI'}

#### set doesn't allow mutable items like lists

In [257]:
myset3 = {10,20, "Hola", [11, 22, 32]} 
myset3

TypeError: unhashable type: 'list'

In [258]:
myset4 = set()                       # Create an empty set
print(type(myset4))

<class 'set'>

In [259]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

### Loop through a Set

In [260]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
     print(i)

three
four
one
six
five
two
eight
seven

In [261]:
for i in enumerate(myset):
     print(i)

(0, 'three')
(1, 'four')
(2, 'one')
(3, 'six')
(4, 'five')
(5, 'two')
(6, 'eight')
(7, 'seven')

### Set Membership

In [262]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [263]:
'one' in myset           # Check if 'one' exist in the set

True

In [264]:
'ten' in myset           # Check if 'ten' exist in the set

False

In [265]:
if 'three' in myset:                           # Check if 'three' exist in the set
     print('Three is present in the set')
else:
     print('Three is not present in the set')

Three is present in the set

In [266]:
if 'eleven' in myset:                          # Check if 'eleven' exist in the list
     print('eleven is present in the set')
else:
     print('eleven is not present in the set')

eleven is not present in the set

### Add & Remove Items

In [267]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [268]:
myset.add('NINE')         # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [269]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])             # Add multiple item to a set using update() method
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [270]:
myset.remove('NINE')               # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [271]:
myset.discard('TEN')             # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [272]:
myset.clear()           # Delete all items in a set
myset

set()

In [273]:
del myset              # Delete the set object 
myset

NameError: name 'myset' is not defined

### Copy Set

In [274]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [275]:
myset1 = myset           # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [276]:
id(myset) , id(myset1)          # The address of both myset & myset1 will be the same as both are pointing to same set.

(2805671279296, 2805671279296)

In [277]:
my_set = myset.copy()          # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [278]:
id(my_set) # The address of my_set will be different from myset because my_set is pointing to the copy of the existing set

2805671279744

In [279]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [280]:
myset1                   # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [281]:
my_set                   # Copy of the set won't be impacted due to changes made on the original Set.

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operation

#### Union

In [282]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [283]:
A | B        # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [284]:
A.union(B)                  # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [285]:
A.union(B, C)               # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [286]:
"""
Updates the set calling the update() method with union of A, B & C.
For below example Set A will be updated with union of A, B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Intersection

In [287]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [288]:
A & B                # Intersection of A and B (Common items in both sets)

{4, 5}

In [289]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (<ipython-input-289-4e0e1fd8698c>, line 1)

In [290]:
"""
Updates the set calling the intersection_update() method with the intersection of sets.
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

#### Difference

In [291]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [292]:
A - B        # set of elements that are only in A but not in B

{1, 2, 3}

In [293]:
A.difference(B)       # Difference of sets

{1, 2, 3}

In [294]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [295]:
B.difference(A)

{6, 7, 8}

In [296]:
"""
Updates the set calling the difference_update() method with the difference of sets.
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

### Symmetric Difference

In [297]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [298]:
A ^ B        # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").

{1, 2, 3, 6, 7, 8}

In [299]:
A.symmetric_difference(B)         # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [300]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

### Subset, Superset & Disjoint

In [301]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [302]:
B.issubset(A)        # Set B is said to be the subset of set A if all elements of B are in A.

True

In [303]:
A.issuperset(B)      # Set A is said to be the superset of set B if all elements of B are in A.

True

In [304]:
C.isdisjoint(A)      # Two sets are said to be disjoint sets if they have no common elements.

True

In [305]:
B.isdisjoint(A)      # Two sets are said to be disjoint sets if they have no common elements.

False

### Other Builtin functions

In [306]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [307]:
sum(A)

45

In [308]:
max(A)

9

In [309]:
min(A)

1

In [310]:
len(A)

9

In [311]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [312]:
D = sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [313]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionary

### 1. Dictionary is a mutable data type in Python.

### 2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.

### 3. Keys must be unique in a dictionary, duplicate values are allowed.

#### Create Dictionary

In [314]:
mydict = dict()                # empty dictionary
mydict

{}

In [315]:
mydict = {}                    # empty dictionary
mydict

{}

In [316]:
mydict = {1:'one' , 2:'two' , 3:'three'}             # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [317]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})       # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [318]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}       # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [319]:
mydict = {1:'one' , 'A':'two' , 3:'three'}           # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [320]:
mydict.keys()                                       # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [321]:
mydict.values()                                     # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [322]:
mydict.items()                                      # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [323]:
mydict = {1:'one' , 2:'two' , 'A':['PAVANI' , 'AKHIL' , 'NAVEEN']}                 # dictionary with mixed keys
mydict

{1: 'one', 2: 'two', 'A': ['PAVANI', 'AKHIL', 'NAVEEN']}

In [324]:
mydict = {1:'one' , 2:'two' , 'A':['PAVANI' , 'AKHIL' , 'NAVEEN'], 'B':('Bat' , 'cat' , 'hat')}     # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': ['PAVANI', 'AKHIL', 'NAVEEN'],
 'B': ('Bat', 'cat', 'hat')}

In [325]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'PAVANI' , 'Age' :20}, 'B':('Bat' , 'cat' , 'hat')}      # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'PAVANI', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [326]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)                         # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'c': None, 'b': None, 'a': None}

In [327]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)                # Create a dictionary from a sequence of keys with value
mydict3

{'d': 10, 'c': 10, 'b': 10, 'a': 10}

In [328]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)                # Create a dictionary from a sequence of keys with value list
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [329]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

### Accessing Items

In [330]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [331]:
mydict[1]               # Access item using key

'one'

In [332]:
mydict.get(1)          # Access item using get() method

'one'

In [333]:
mydict1 = {'Name':'PAVANI', 'ID': 20054441, 'DOB': 1997, 'job' :'Quality Analyst'}
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'job': 'Quality Analyst'}

In [334]:
mydict1['Name']            # Access item using key

'PAVANI'

In [335]:
mydict1.get('job')         # Access item using get() method

'Quality Analyst'

### Add, Remove & Change Items

In [336]:
mydict1 = {'Name':'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address' : 'Machilipatnam'}
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address': 'Machilipatnam'}

In [337]:
mydict1['DOB'] = 1995                      # Changing Dictionary Items
mydict1['Address'] = 'Hyderabad'
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1995, 'Address': 'Hyderabad'}

In [338]:
dict1 = {'DOB': 1996}
mydict1.update(dict1)
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1996, 'Address': 'Hyderabad'}

In [339]:
mydict1['Job'] = 'Quality Analyst'         # Adding items in the dictionary
mydict1

{'Name': 'PAVANI',
 'ID': 20054441,
 'DOB': 1996,
 'Address': 'Hyderabad',
 'Job': 'Quality Analyst'}

In [340]:
mydict1.pop('Job')                        # Removing items in the dictionary using Pop method
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1996, 'Address': 'Hyderabad'}

In [341]:
mydict1.popitem()                         # A random item is removed
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1996}

In [342]:
del[mydict1['ID']]                        # Removing item using del method
mydict1

{'Name': 'PAVANI', 'DOB': 1996}

In [343]:
mydict1.clear()                          # Delete all items of the dictionary using clear method

In [344]:
del mydict1                              # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

### Copy Dictionary

In [345]:
mydict = {'Name':'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address' : 'Machilipatnam'}
mydict

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address': 'Machilipatnam'}

In [346]:
mydict1 = mydict              # Create a new reference "mydict1"

In [347]:
id(mydict) , id(mydict1)      # The address of both mydict & mydict1 will be the same as both are pointing to same dictionary

(2805671304256, 2805671304256)

In [348]:
mydict2 = mydict.copy()        # Create a copy of the dictionary

In [349]:
id(mydict2)      # The address of mydict2 will be different from mydict because mydict2 is pointing to the copy of the existing

2805670324096

In [350]:
mydict['Address'] = 'Chennai'

In [351]:
mydict

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address': 'Chennai'}

In [352]:
mydict1            # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address': 'Chennai'}

In [353]:
mydict2            # Copy of list won't be impacted due to the changes made in the original dictionary

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address': 'Machilipatnam'}

### Loop through a Dictionary

In [354]:
mydict1 = {'Name':'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address' : 'Machilipatnam' , 'Job': 'Quality Analyst'}
mydict1

{'Name': 'PAVANI',
 'ID': 20054441,
 'DOB': 1997,
 'Address': 'Machilipatnam',
 'Job': 'Quality Analyst'}

In [355]:
for i in mydict1:
     print(i , ':' , mydict1[i])                          # Key & value pair

Name : PAVANI
ID : 20054441
DOB : 1997
Address : Machilipatnam
Job : Quality Analyst

In [356]:
for i in mydict1:
     print(mydict1[i])                                    # Dictionary items

PAVANI
20054441
1997
Machilipatnam
Quality Analyst

### Dictionary Membership

In [357]:
mydict1 = {'Name':'PAVANI' , 'ID': 20054441 , 'DOB': 1997 , 'Job': 'Quality Analyst'}
mydict1

{'Name': 'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Job': 'Quality Analyst'}

In [358]:
'Name' in mydict1              # Test if a key is in a dictionary or not.

True

In [359]:
'PAVANI' in mydict1            # Membership test can be only done for keys.

False

In [360]:
'ID' in mydict1

True

In [361]:
'Address' in mydict1

False

## All / Any

### The all() method returns:

   #### 1. True - If all all keys of the dictionary are true.
   
   #### 2. False - If any key of the dictionary is false.
   
### The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [362]:
mydict1 = {'Name':'PAVANI', 'ID': 20054441, 'DOB': 1997, 'Address' : 'Machilipatnam' , 'Job': 'Quality Analyst'}
mydict1

{'Name': 'PAVANI',
 'ID': 20054441,
 'DOB': 1997,
 'Address': 'Machilipatnam',
 'Job': 'Quality Analyst'}

In [363]:
all(mydict1)            # Will Return false as one value is false (Value 0)

True

In [364]:
any(mydict1)            # Will Return True as we have items in the dictionary with True value

True

In [365]:
mydict1[0] = 'test1'
mydict1

{'Name': 'PAVANI',
 'ID': 20054441,
 'DOB': 1997,
 'Address': 'Machilipatnam',
 'Job': 'Quality Analyst',
 0: 'test1'}

In [366]:
all(mydict1)           # Returns false as one value is false

False

In [367]:
any(mydict1)           # Will Return True as we have items in the dictionary with True value

True

### Dictionary Comprehension

In [368]:
double = {i:i*2 for i in range(10)}          #double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [369]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [370]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1, 2, 3, 4, 5]
mydict = {k:v for (k,v) in zip(key,value)}              # using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [371]:
mydict1 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()}          # Divide all values in a dictionary by 10
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [372]:
str1 = "Natural Language Processing"
mydict2 = {k:v for (k,v) in enumerate(str1)}             # Store enumerated values in a dictionary
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [373]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1}                     # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

### Word Frequency using dictionary

In [374]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten"

In [375]:
mylist = mystr4.split()               # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten']

In [376]:
mylist1 = set(mylist)                 # Unique values in a list
mylist1 = list (mylist1)
mylist1

['three',
 'eleven',
 'four',
 'one',
 'six',
 'five',
 'ten',
 'two',
 'eight',
 'seven',
 'nine']

### Calculating the frequency of each word

In [377]:
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
     for j in range(len(mylist)):
             if mylist1[i] == mylist[j]:
                     count1[i] += 1
     mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'three': 2, 'eleven': 1, 'four': 1, 'one': 5, 'six': 2, 'five': 2, 'ten': 4, 'two': 3, 'eight': 1, 'seven': 2, 'nine': 1}

## Operators: They are special symbols in Python which are used to perform operations on variables/values.

### Arithmetic Operators

In [378]:
a = 5
b = 2
x = 'PAVANI'
y = 'NADELLA'

# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a, b, c))

#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))

# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b, a, c))

# Multiplication
c = a * b
print('Multiplying {} and {} will give :- {}\n'.format(a, b, c))

# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a, b, c))

# Modulo of both number
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a, b, c))

# Power
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a, b, c))

# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a, b, c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- PAVANINADELLA

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

### Comparison Operators: Comparison operators are used to compare values.

In [379]:
x = 2000
y = 3010

print('Is x greater than y :- ', x > y)

print('\nIs x less than y :- ', x < y)

print('\nIs x equal to y :- ', x == y)

print('\nIs x not equal to y :- ', x != y)

print('\nIs x greater than or equal to y :- ', x >= y)

print('\nIs x less than or equal to y :- ', x <= y)

Is x greater than y :-  False

Is x less than y :-  True

Is x equal to y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [380]:
a = 'PAVANI'
b = 'NADELLA'
c = 'PAVANI'
a == b, a == c, a != b                 # Comparison operators on string

(False, True, True)

### Logical Operators

In [381]:
x = True
y = False

print('Logical AND operation :- ', x and y)       # True if both values are true

print('Logical OR operation :- ', x or y)         # True if either of the values is true

print('NOT operation :- ', not x )                # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

### Bitwise operators: Bitwise operators act on bits and performs bit by bit operation.

In [382]:
x = 18           # binary form 10010
y = 6            # binary form 00110

print('Bitwise AND operation - {}'.format(x & y))

print('Bitwise OR operation - {}'.format(x | y))

print('Bitwise XOR operation - {}'.format(x ^ y))

print('Bitwise NOT operation - {}'.format(~x))

print('Bitwise right shift operation - {}'.format(x >> 2))

print('Bitwise left shift operation - {}'.format(x << 2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

### Assignment Operators

In [383]:
x = 100
print('Initialize x with value 10 (x = 100)) :- ', x)

x+=20     # x = x+20
print ('Add 20 to x :- ', x)

x-=20    # x = x-20
print ('subtract 20 from x :- ', x)

x/=10    # x = x/10
print ('Divide x by 10 :- ', x)

x*=10    # x = x/10
print ('Multiply x by 10 :- ', x)

x = int(x)

x**=2    # x = x/10
print ('x raised to the power 2 :- ', x)

x%=2
print ('Modulo Division :- ', x)

x = 20

x//=3
print ('Floor Division :- ', x)

x&=2
print('Bitwise AND :- ', x)

x|=2
print('Bitwise OR :- ', x)

x^=2
print('Bitwise XOR :- ', x)

x = 10

x<<=2
print('Bitwise left shift operation', x)

x>>=2
print('Bitwise right shift operation', x)

Initialize x with value 10 (x = 100)) :-  100
Add 20 to x :-  120
subtract 20 from x :-  100
Divide x by 10 :-  10.0
Multiply x by 10 :-  100.0
x raised to the power 2 :-  10000
Modulo Division :-  0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 40
Bitwise right shift operation 10

### Membership Operators: These are used to test whether a value / variable is present in a sequence.

In [384]:
mystr = 'NADELLA SITA RAMA PAVANI'
'PAVANI' in mystr , 'NAVEEN' in mystr

(True, False)

In [385]:
mystr = 'NADELLA SITA RAMA PAVANI'
'PAVANI' not in mystr , 'NAVEEN' not in mystr

(False, True)

## Functions: A function is a block of organized code written to carry out a specified task, helps to break our program into smaller and modular chunks for better readability.

   #### 1. Information can be passed into a function as arguments.

   #### 2. Parameters are specified after the function name inside the parentheses.

   #### 3. We can add as many parameters as we want. Parameters must be separated with a comma.

   #### 4. A function may or may not return data.

   #### 5. In Python a function is defined using the "def" keyword.


### Parameter VS Argument:

   #### 1.  A parameter is the variable listed inside the parentheses in the function definition.

   #### 2. An argument is the value that is sent to the function when it is called.

### Three types of functions in Python:

   #### 1. Built-in function :- Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.
   
   #### 2. User-Defined Functions:- Function that we define ourselves to perform a specific task.
   
   #### 3. Anonymous functions : Function that is defined without a name. Anonymous functions are also called as lambda functions.                                                            They are not declared with the def keyword.

In [386]:
def myfunc():
     print("Hello Python Learners")
myfunc()

Hello Python Learners

In [387]:
def details(name, userid, country):             # Function to print User details
     print('Name :- ', name)
     print('User ID is :- ', userid)
     print('Country :- ',country)
details('PAVANI' , 'pavaninadella97' , 'India')

Name :-  PAVANI
User ID is :-  pavaninadella97
Country :-  India

In [388]:
def square (n):                                 #function to find square of a number
     n= n*n
     return n
square (1450)

2102500

In [389]:
def even_odd (num):                                                    #Even odd test
     """ This function will check whether a number is even or odd"""
     if num % 2 ==0:
         print (num, ' is even number')
     else:
         print (num, ' is odd number')
even_odd(3)
even_odd(4)
print(even_odd.__doc__)                         # Print function documentation string

3  is odd number
4  is even number
 This function will check whether a number is even or odd

In [390]:
def fullname (firstname , middlename ,lastname):                #Concatenate Strings
    fullname = "{} {} {}".format(firstname, middlename, lastname)
    print (fullname)
fullname('NADELLA' , 'SITA RAMA' , 'PAVANI')

NADELLA SITA RAMA PAVANI

In [391]:
def fullname (firstname , middlename ,lastname):                 #Concatenate Strings
    fullname = "{} {} {}".format(firstname, middlename, lastname)
    print (fullname)
fullname(lastname = 'PAVANI', middlename='SITA RAMA', firstname='NADELLA') # Keyword Arguments. Order of the arguments does not match

NADELLA SITA RAMA PAVANI

In [392]:
fullname ('PAVANI')          # This will throw error as function is expecting 3 arguments.

TypeError: fullname() missing 2 required positional arguments: 'middlename' and 'lastname'

In [393]:
def myfunc(city = 'HYDERABAD'):
     print('Most Populous City :- ', city)
myfunc()                                   # When a function is called without an argument it will use default value

Most Populous City :-  HYDERABAD

In [394]:
var1 = 100100                           # Variable with Global scope.
def myfunc():
     print(var1)                        # Value 100 will be displayed due to global scope of var1
myfunc()
print(var1)

100100
100100

In [395]:
def myfunc1():
     var2 = 1010               # Variable with Local scope
     print(var2)
def myfunc2():
     print(var2)             # This will throw error because var2 has a local scope. Var2 is only accessible in myfunc1()
myfunc1()
myfunc2()

1010

NameError: name 'var2' is not defined

In [396]:
var1 = 100100                  # Variable with Global scope.
def myfunc():
     var1 = 9999               # Local scope
     print(var1)

myfunc()
print(var1)                   # The original value of var1 (100100) will be retained due to global scope.

9999
100100

In [397]:
list1 = [11, 22, 33, 44, 55]
def myfunc(list1):
     del list1[0]
print('"List1" before calling the function:- ', list1)

myfunc(list1)  # Pass by reference (Any change in the parameter within the function is reflected back in the calling function

print('"List1" after calling the function:- ', list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [398]:
list1 = [11, 22, 33, 44, 55]
def myfunc(list1):
     list1.append(100)
print('"List1" before calling the function:- ', list1)

myfunc(list1) # Pass by reference (Any change in the parameter within the function is reflected back in the calling function

print('"List1" after calling the function:- ', list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]

In [399]:
list1 = [11, 22, 33, 44, 55]
def myfunc(list1):
     list1 = [10, 100, 1000, 10000] # link of 'list1' with previous object is broken now as new object is assigned to 'list1'
print('"List1" before calling the function:- ', list1)

myfunc(list1) # Pass by reference (Any change in the parameter within the function is reflected back in the calling function

print('"List1" after calling the function:- ', list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [400]:
def swap(a,b):
     temp = a
     a = b             # link of 'a' with previous object is broken now as new object is assigned to 'a'.
     b = temp          # link of 'b' with previous object is broken now as new object is assigned to 'b'.

a = 10
b = 20
swap(a,b)
a,b

(10, 20)

In [401]:
def factorial(num):     # Calculate factorial of a number using recursive function call.
     if num <= 1 :
        return 1
     else:
        return num * factorial(num-1)

factorial(141)

1898143759076170969428526414110767793728175011895349373797246196996101911759765533248506853474785138972002542682916216702019230820297304827075914771733278062452780211579860725280286887880928321116599494314557440000000000000000000000000000000000

In [402]:
def add(num):                        # Sum of first n natural numbers
     if num == 0:
        return 0
     else:
        return num + add(num-1)
add(500)                             # Sum of first five natural numbers (1,2,3,4,5)

125250

In [404]:
def fiboacci(num):
     if num <= 1:
        return num
     if num == 2:
        return 1
     else:
        return(fiboacci(num-1) + fiboacci(num-2))
nums = int(input("How many fibonacci numbers you want to generate -"))

for i in range(nums):
    print(fiboacci(i))           # Generate Fibonacci series

How many fibonacci numbers you want to generate -30
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

## args & kwargs

### args:

   #### 1. When we are not sure about the number of arguments being passed to a function then we can use *args as function parameter.

   #### 2. args allow us to pass the variable number of Non Keyword Arguments to function.

   #### 3. We can simply use an asterisk * before the parameter name to pass variable length arguments.

   #### 4. The arguments are always passed as a tuple.

   #### 5. We can rename it to anything as long as it is preceded by a single asterisk (*). It's best practice to keep naming it args to                          make it immediately recognizable.

### kwargs: 

   #### 1. kwargs allows us to pass the variable number of Keyword Arguments to the function.

   #### 2. We can simply use an double asterisk (**) before the parameter name to pass variable length arguments.

   #### 3. The arguments are passed as a dictionary.

   #### 4. We can rename it to anything as long as it is preceded by a double asterisk (**). It's best practice to keep naming it kwargs                      to make it immediately recognizable.

In [405]:
def add(a,b,c):
     return a+b+c

print(add(10, 20, 30))             # Sum of two numbers

60

In [406]:
print(add(1, 2, 3, 4))    '''This will throw below error as this function will only take two argumengts.
                             If we want to make argument list dynamic then *args wil come in picture'''

SyntaxError: invalid syntax (<ipython-input-406-d45e994deca1>, line 2)

In [407]:
def some_args(arg_1, arg_2, arg_3):
     print("arg_1:", arg_1)
     print("arg_2:", arg_2)
     print("arg_3:", arg_3)
my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [408]:
def add1(*args):
    return sum(args)

print(add(1,2,3))
print(add(1,2,3,4))  # args will take dynamic argument list. So add() function will perform addition of any number of argument
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))

6

TypeError: add() takes 3 positional arguments but 4 were given

In [409]:
list1 = [1, 2, 3, 4, 5, 6, 7]
tuple1 = (1, 2, 3, 4, 5, 6, 7)
add1(*list1) , add1(*tuple1)     #tuple & list items will be passed as argument list and sum will be returned for both cases

(28, 28)

In [410]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [1, 2, 3, 4, 5, 6, 7]
list3 = [1, 2, 3, 4, 5, 6, 7]
list4 = [1, 2, 3, 4, 5, 6, 7]
add1(*list1 , *list2 , *list3 , *list4 )   #All four lists are unpacked and each individual item is passed to add1() function

112

In [411]:
def UserDetails(*args):
     print(args)

UserDetails('PAVANI NADELLA', 20054441, 500074, 23 , 'India' , 'Telugu')
''' For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc.
 In such cases we can take help of Keyworded arguments (**kwargs) '''

('PAVANI NADELLA', 20054441, 500074, 23, 'India', 'Telugu')

' For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc.\n In such cases we can take help of Keyworded arguments (**kwargs) '

In [412]:
def UserDetails(**kwargs):
     print(kwargs)
        
UserDetails(Name ='PAVANI NADELLA', ID = 20054441, Pincode = 500074 , Age = 23, Country = 'India', Language = 'Telugu')

{'Name': 'PAVANI NADELLA', 'ID': 20054441, 'Pincode': 500074, 'Age': 23, 'Country': 'India', 'Language': 'Telugu'}

In [413]:
def UserDetails(**kwargs):
     for key,val in kwargs.items():
         print("{} :- {}".format(key,val))
        
UserDetails(Name ='PAVANI NADELLA', ID = 20054441, Pincode = 500074 , Age = 23, Country = 'India', Language = 'Telugu')

Name :- PAVANI NADELLA
ID :- 20054441
Pincode :- 500074
Age :- 23
Country :- India
Language :- Telugu

In [414]:
UserDetails(Name ='PAVANI NADELLA', ID = 20054441, Pincode = 500074 , Age = 23, Country = 'India', Language = 'Telugu')
UserDetails(**mydict)

Name :- PAVANI NADELLA
ID :- 20054441
Pincode :- 500074
Age :- 23
Country :- India
Language :- Telugu
one :- 1
two :- 2
three :- 3
four :- 4
five :- 5

In [415]:
def UserDetails(licenseNo, *args, phoneNo = 0, **kwargs):       # Using all four arguments types
     print('License No :- ', licenseNo)
     j = ''
     for i in args:
         j = j+i
     print('Full Name :-',  j)
     print('Phone Number:- ', phoneNo)
     for key,val in kwargs.items():
         print("{} :- {}".format(key, val))

Name = ['NADELLA' , ' ' , 'SITA RAMA' , ' ','PAVANI']
mydict = {'Name' : 'NADELLA SITA RAMA PAVANI', 'ID' : 20054441, 'Pincode' : 500074, 'Age' : 23, 'Country' : 'India', 'Language' : 'Telugu'}
UserDetails('BHT145' , *Name , phoneNo = 9063227214, **mydict )

License No :-  BHT145
Full Name :- NADELLA SITA RAMA PAVANI
Phone Number:-  9063227214
Name :- NADELLA SITA RAMA PAVANI
ID :- 20054441
Pincode :- 500074
Age :- 23
Country :- India
Language :- Telugu

In [416]:
def UserDetails(licenseNo, *args , phoneNo = 0, **kwargs):           # Using all four arguments types. CORRECT ORDER
     print('Nothing')

In [417]:
def UserDetails(licenseNo, **kwargs , *args):         # This will fail. *args MUST come before **kwargs in the argument list
     print('Nothing')

SyntaxError: invalid syntax (<ipython-input-417-f2320cfdc63f>, line 1)

In [418]:
#The below function will fail. Default argument/positional argument (licenseNo) MUST come before Keyword argument(ID)

def UserDetails(ID = 1, licenseNo, *args):
     print('Nothing')

SyntaxError: non-default argument follows default argument (<ipython-input-418-8227860f8985>, line 3)

## Lambda, Filter, Map and Reduce

### Lambda:

   #### 1. A lambda function is an anonymous function (function without a name).

   #### 2. Lambda functions can have any number of arguments but only one expression, the expression is evaluated and returned.

   #### 3. We use lambda functions when we require a nameless function for a short period of time.

### Filter:

   #### 1. It is used to filter the iterables/sequence as per the conditions.
   
   #### 2. Filter function filters the original iterable and passes the items that returns True for the function provided to filter.
   
   #### 3. It is normally used with Lambda functions to filter list, tuple, or sets.

### filter() method takes two parameters:

   #### function - function tests if elements of an iterable returns true or false.
   
   #### iterable - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators.
   
### Map: The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.

### map() function takes two Parameters :

#### 1. function : The function to execute for each item of given iterable.

#### 2. iterable : It is a iterable which is to be mapped.

#### 3. Returns : Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.).

### Reduce: The reduce() function is defined in the functools python module.The reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value.

### Working  of Reduce function:

#### 1. Apply a function to the first two items in an iterable and generate a partial result.

#### 2. The function is then called again with the result obtained in step 1 and the next value in the sequence. This process keeps on repeating until there are items in the sequence.

#### 3. The final returned result is returned and printed on console.

In [419]:
addition = lambda a : a + 10 # This lambda function adds value 10 to an argument.
print(addition(5))

15

In [420]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b) and returns their product (a*b).
print(product(5, 6))

30

In [421]:
addition = lambda a, b, c : a + b + c #This lambda function takes three arguments (a,b,c) and returns their sum (a+b+c)
print(addition(5, 6, 2))

13

In [422]:
res = (lambda *args: sum(args)) # This lambda function can take any number of arguments and return thier sum.
res(10,20) , res(10,20,30,40) , res(10,20,30,40,50,60,70)

(30, 100, 280)

In [423]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier s
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [424]:
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take any number of arguments and return thier s
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

### User defined function to find product of numbers

In [425]:
def product(nums):
     total = 1
     for i in nums:
         total *= i
     return total

# This lambda function can take any number of arguments and return thier product.

res1 = (lambda **kwargs: product(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [426]:
def myfunc(n):
     return lambda a : a + n

add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)

print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [427]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def odd(n):
     if n%2 ==1: return True
     else: return False

odd_num = list(filter(odd, list1))       # This Filter function filters list1 and passes all odd numbers to filter().
odd_num

[1, 3, 5, 7, 9]

In [428]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# The below Filter function filters "list1" and passes all odd numbers using lambda function to filter().

odd_num = list(filter(lambda n: n%2 ==1, list1))
odd_num

[1, 3, 5, 7, 9]

In [429]:
def twice(n):
     return n*2

doubles = list(map(twice, odd_num))    # The map function will apply user defined "twice()" function on all items of the list
doubles

[2, 6, 10, 14, 18]

In [430]:
doubles = list(map(lambda n:n*2, odd_num))    # This map function will double all items of the list using lambda function.
doubles

[2, 6, 10, 14, 18]

In [431]:
from functools import reduce

def add(a,b):
     return a+b

sum_all = reduce(add, doubles)    # This reduce function will perform sum of all items in the list using user defined "add()
sum_all

50

In [432]:
#The below reduce() function will perform sum of all items in the list using lambda function.

sum_all = reduce(lambda a,b : a+b, doubles)
sum_all

50

In [433]:
# Putting all together

sum_all = reduce(lambda a,b : a+b, list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,list1)))))
sum_all

50

### More examples on Map, Filter, Reduce

In [434]:
list1 = [1,2,3,4,5,6,7,8,9,10]

even = list(filter(lambda n: n%2 ==0, list1)) # Filter even numbers from the list

odd = list(filter(lambda n: n%2 !=0, list1))  # Filter odd numbers from the list

print('--------')

print(even)

print(odd)

print('--------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']

upper = list(filter(lambda x: x.isupper(), list2)) # filter uppercase strings from the list

lower = list(filter(lambda x: x.islower(), list2)) # filter lowercase strings from the list

print(upper)

print(lower)

print('--------')

list3 = ['one', 'two2', 'three3', '88', '99', '102']

numeric = list(filter(lambda x:x.isnumeric(), list3)) # filter numbers from the list

alpha = list(filter(lambda x:x.isalpha(), list3))     # filter character strings from the list

alphanum = list(filter(lambda x:x.isalnum(), list3))  # filtr numbers & character strings from the list

print(alpha)

print(numeric)

print(alphanum)

print('--------')

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [435]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]

def double(x):
     return x+x

def add(x,y):
     return x+y

def square(x):
     return x*x

print('---------------')

print(list(map(double, list1)))     # Double each number using map & User defined function

print(list(map(add, list1, list2))) # add two items using map & User defined function

print(list(map(square, list1)))     # Square numbers using map & User defined function

print('---------------')

print(list(map(lambda x: x + x, list1)))           # Double each number using map & lambda

print(list(map(lambda x, y: x + y, list1, list2))) # add two items using map & lambda

print(list(map(lambda x: x*x, list1)))             #Square numbers using map & lambda

print('---------------')

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [436]:
list2 = [1, 2, 3, 4]

product = reduce (operator.mul,list2)                          # Product of all numbers in a list

add = reduce(operator.add,list2)                               # Add all numbers in the list

concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate string using reduce

prod = reduce(operator.mul,['Hello ' , 3])                     # Repeat a string multiple times

min_num = reduce(lambda a, b: a if a < b else b, list2)        # Minimum number in the list using reduce () & lambda

max_num = reduce(lambda a, b: a if a > b else b, list2)        # Maximum number in the list using reduce () & lambda

print(product)

print(add)

print(concat_str)

print(prod)

print(min_num)

print(max_num)

24
10
Python Rocks
Hello Hello Hello
1
4

In [437]:
def min_func(a, b):
     return a if a < b else b

def max_func(a, b):
     return a if a > b else b

min_num = reduce(min_func, list2) # Minimum number in the list using reduce () & User defined min function

max_num = reduce(max_func, list2) # Maximum number in the list using reduce () & User defined min function

min_num , max_num

(1, 4)

In [438]:
print('------')

print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all values in the list are True

print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all items in the list are True

print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all values in the list are True

print('------')

print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0])) # Returns True if any item in the list is True

print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6])) # Returns True if any item in the list is True

print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9])) # Returns True if any item in the list is True

print('------')

------
False
True
False
------
False
True
True
------

## Classes & Objects

### A Class is an object constructor or a "blueprint" for creating objects.

### Objects are nothing but an encapsulation of variables and functions into a single entity.

#### 1. Objects get their variables and functions from classes.

#### 2. To create a class we use the keyword class.

#### 3. The first string inside the class is called docstring which gives the brief description about the class.

#### 4. All classes have a function called " __init__( ) " which is always executed when the class is being initiated.

#### 5.  We can use "__init__( )" function to assign values to object properties or other operations that are necessary to perform when                the object is  being created.

#### 6. The self parameter is a reference to the current instance of the class and is used to access class variables.

#### 7. self must be the first parameter of any function in the class.

#### 8. The super() builtin function returns a temporary object of the superclass that allows us to access methods of the base class.

#### 9. super() allows us to avoid using the base class name explicitly and to enable multiple inheritance.

In [439]:
# Create a class with property "var1"

class myclass:
     var1 = 10

obj1 = myclass()          # Create an object of class "myclass()"
print(obj1.var1)

10

In [440]:
# Create an employee class

class Employee:
     def __init__(self, name, empid):             # __init__() function is used to assign values for name and empid
         self.name = name
         self.empid = empid
     def greet(self):                             # Class Method
         print("Thanks for joining INNOMATICS Company {}!!".format(self.name))
            
emp1 = Employee("PAVANI NADELLA", 20054441)      # Create an employee object
print('Name :- ', emp1.name)
print('Employee ID :- ', emp1.empid)
emp1.greet()

Name :-  PAVANI NADELLA
Employee ID :-  20054441
Thanks for joining INNOMATICS Company PAVANI NADELLA!!

In [441]:
emp1.name = 'NAVEEN'             # Modify Object Properties
emp1.name

'NAVEEN'

In [442]:
del emp1.empid                     # Delete Object Properties
emp1.empid

AttributeError: 'Employee' object has no attribute 'empid'

In [443]:
del emp1                             # Delete the object
emp1

NameError: name 'emp1' is not defined

In [444]:
emp2 = Employee("PALAPARTHY NAVEEN DUTT", 20054444)                # Create an employee object
print('Name :- ', emp2.name)
print('Employee ID :- ', emp2.empid)
emp2.greet()

Name :-  PALAPARTHY NAVEEN DUTT
Employee ID :-  20054444
Thanks for joining INNOMATICS Company PALAPARTHY NAVEEN DUTT!!

In [445]:
emp2.country = 'India'               #instance variable can be created manually
emp2.country

'India'

## Inheritance: Inheritance is a powerful feature in object oriented programming

   #### 1. It provides code reusability in the program because we can use an existing class (Super Class/ Parent Class / Base Class)                      to create a new class (Sub Class / Child Class / Derived Class) instead of creating it from scratch.

   #### 2. The child class inherits data definitions and methods from the parent class which facilitates the reuse of features already                         available. The child class can add few more definitions or redefine a base class method.
   
   #### 3. Inheritance comes into picture when a new class possesses the ''IS A'' relationship with an existing class. E.g Student is a                        person. Hence person is the base class and student is derived class.

In [446]:
class person: # Parent Class
     def __init__(self, name , age , gender):
         self.name = name
         self.age = age
         self.gender = gender

     def PersonInfo(self):
         print('Name :- {}'.format(self.name))
         print('Age :- {}'.format(self.age))
         print('Gender :- {}'.format(self.gender))



class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
         person.__init__(self,name,age,gender)
         self.studentid = studentid
         self.fees = fees

    def StudentInfo(self):
         print('Student ID :- {}'.format(self.studentid))
         print('Fees :- {}'.format(self.fees))


class teacher(person): # Child Class
     def __init__(self,name,age,gender,empid,salary):
         person.__init__(self,name,age,gender)
         self.empid = empid
         self.salary = salary

     def TeacherInfo(self):
         print('Employee ID :- {}'.format(self.empid))
         print('Salary :- {}'.format(self.salary))

stud1 = student('PAVANI NADELLA', 23, 'Female', 20054441, "FREE")

print('Student Details')

print('---------------')

stud1.PersonInfo()             # PersonInfo() method presnt in Parent Class will be accessible by child class

stud1.StudentInfo()

print()

teacher1 = teacher('PALAPARTHY NAVEEN DUTT', 31 , 'Male', 20054444 , "FREE")

print('Employee Details')

print('---------------')

teacher1.PersonInfo()          # PersonInfo() method presnt in Parent Class will be accessible by child class

teacher1.TeacherInfo()

Student Details
---------------
Name :- PAVANI NADELLA
Age :- 23
Gender :- Female
Student ID :- 20054441
Fees :- FREE

Employee Details
---------------
Name :- PALAPARTHY NAVEEN DUTT
Age :- 31
Gender :- Male
Employee ID :- 20054444
Salary :- FREE

### super() builtin function allows us to access methods of the base class.

In [447]:
class person:                    # Parent Class
     def __init__(self, name, age, gender):
         self.name = name
         self.age = age
         self.gender = gender

     def PersonInfo(self):
         print('Name :- {}'.format(self.name))
         print('Age :- {}'.format(self.age))
         print('Gender :- {}'.format(self.gender))



class student(person):          # Child Class
     def __init__(self,name,age,gender,studentid,fees):
         super().__init__(name,age,gender)
         self.studentid = studentid
         self.fees = fees

     def StudentInfo(self):
         super().PersonInfo()
         print('Student ID :- {}'.format(self.studentid))
         print('Fees :- {}'.format(self.fees))

stud = student('PAVANI NADELLA', 23, 'Female', 20054441, "FREE")
stud.StudentInfo()

Name :- PAVANI NADELLA
Age :- 23
Gender :- Female
Student ID :- 20054441
Fees :- FREE

### Multi-level Inheritance

   #### 1. In this type of inheritance, a class can inherit from a child class or derived class.

   #### 2. Multilevel Inheritance can be of any depth in python.

In [448]:
class person:                                      # Parent Class
     def __init__(self, name , age , gender):
         self.name = name
         self.age = age
         self.gender = gender

     def PersonInfo(self):
         print('Name :- {}'.format(self.name))
         print('Age :- {}'.format(self.age))
         print('Gender :- {}'.format(self.gender))


class employee(person):                              # Child Class
     def __init__(self,name,age,gender,empid,salary):
         person.__init__(self,name,age,gender)
         self.empid = empid
         self.salary = salary

     def employeeInfo(self):
         print('Employee ID :- {}'.format(self.empid))
         print('Salary :- {}'.format(self.salary))


class fulltime(employee):                            # Grand Child Class
     def __init__(self,name,age,gender,empid,salary,WorkExperience):
         employee.__init__(self,name,age,gender,empid,salary)
         self.WorkExperience = WorkExperience

     def FulltimeInfo(self):
         print('Work Experience :- {}'.format(self.WorkExperience))


class contractual(employee):                         # Grand Child Class
     def __init__(self,name,age,gender,empid,salary,ContractExpiry):
         employee.__init__(self,name,age,gender,empid,salary)
         self.ContractExpiry = ContractExpiry

     def ContractInfo(self):
         print('Contract Expiry :- {}'.format(self.ContractExpiry))

print('Contractual Employee Details')

print('****************************')

contract1 = contractual('PALAPARTHY NAVEEN DUTT', 31, 'Male', 20054444, "FREE",'21-12-2014')

contract1.PersonInfo()

contract1.employeeInfo()

contract1.ContractInfo()

print('\n \n')

print('Fulltime Employee Details')

print('****************************')

fulltim1= fulltime('NADELLA SITA RAMA PAVANI', 24, 'Female', 20054441 , "FREE", '12-11-2019')

fulltim1.PersonInfo()

fulltim1.employeeInfo()

fulltim1.FulltimeInfo()

Contractual Employee Details
****************************
Name :- PALAPARTHY NAVEEN DUTT
Age :- 31
Gender :- Male
Employee ID :- 20054444
Salary :- FREE
Contract Expiry :- 21-12-2014



Fulltime Employee Details
****************************
Name :- NADELLA SITA RAMA PAVANI
Age :- 24
Gender :- Female
Employee ID :- 20054441
Salary :- FREE
Work Experience :- 12-11-2019

### Multiple Inheritance:

#### 1. Multiple inheritance is a feature in which a class (derived class) can inherit attributes and methods from more than one parent class.
#### 2. The derived class inherits all the features of the base case.

In [449]:
# Super Class
class Father:
     def __init__(self):
         self.fathername = str()

# Super Class
class Mother:
     def __init__(self):
         self.mothername = str()


# Sub Class
class Son(Father, Mother):
     name = str()
     def show(self):
         print('My Name :- ', self.name)
         print("Father :", self.fathername)
         print("Mother :", self.mothername)
            
s1 = Son()
s1.name = 'PAVANI NADELLA'
s1.fathername = "NADELLA ESWAR KUMAR"
s1.mothername = "NADELLA SUNDARI"
s1.show()

My Name :-  PAVANI NADELLA
Father : NADELLA ESWAR KUMAR
Mother : NADELLA SUNDARI

In [450]:
class Date:
    def __init__(self,date):
        self.date = date

class Time:
    def __init__(self,time):
        self.time = time
        
class timestamp(CurrentDate, CurrentTime):
    def __init__(self, date, time):
        CurrentDate.__init__(self, date)
        CurrentTime.__init__(self, time)
        DateTime = self.date + ' ' + self.time
        print(DateTime)
            
datetime1 = timestamp('2021-02-01', '20:00:00')

NameError: name 'CurrentDate' is not defined

### Method Overriding

   #### 1. Overriding is a very important part of object oreinted programming because it makes inheritance exploit its full power.

   #### 2. Overriding is the ability of a class (Sub Class / Child Class / Derived Class) to change the implementation of a method                              provided by one of its parent classes.

   #### 3. When a method in a subclass has the same name, same parameter and same return type as a method in its super-class,                          then the method in the subclass is said to override the method in the super-class.

   #### 4. The version of a method that is executed will be determined by the object that is used to invoke it.

   #### 5. If an object of a parent class is used to invoke the method, then the version in the parent class will be executed, but if an                        object of the subclass is used to invoke the method, then the version in the child class will be executed.

In [451]:
class person:                         # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender

    def greet(self):
        print("Hello, Welcome.")



class student(person):                # Child Class
    def __init__(self, name, age, gender, studentid, fees):
        person.__init__(self, name, age, gender)
        self.studentid = studentid
        self.fees = fees
        
    def greet(self):
        print("Hello, Student.")


stud = student('PAVANI', 24, 'Female', 390, "FREE")
stud.greet()                 # greet() method defined in subclass will be triggered as "stud" is an object of child class

person1 = person('NAVEEN', 31 , 'Male')
person1.greet()      # greet() method defined in superclass will be triggered because "person1" is an object of parent class

Hello, Student.
Hello, Welcome.

## Container: Containers are data structures that hold data values.

   #### 1. They support membership tests which means we can check whether a value exists in the container or not.

   #### 2. Generally containers provide a way to access the contained objects and to iterate over them.
   
   #### 3. Examples of containers include tuple, list, set, dict, str.

In [452]:
list1 = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']

'MANOJ' in list1 # Membership check using 'in' operator

True

In [453]:
assert 'AGASTYA' in list1    # If the condition returns true the program does nothing and move to the next line of code

In [454]:
assert 'AGASTYA1' in list1   # If the condition returns false, Assert will stop the program and throws an AssertionError.

AssertionError:

In [455]:
mydict = {'Name':'PAVANI NADELLA', 'ID': 20054441 , 'DOB': 1997 , 'Address' : 'Machilipatnam'}
mydict

{'Name': 'PAVANI NADELLA',
 'ID': 20054441,
 'DOB': 1997,
 'Address': 'Machilipatnam'}

In [456]:
'PAVANI NADELLA' in mydict      # Dictionary membership will always check the keys

False

In [457]:
'Name' in mydict                # Dictionary membership will always check the keys

True

In [458]:
'DOB' in mydict                 # Dictionary membership will always check the keys

True

In [459]:
mystr = 'PAVANI NADELLA'
'as' in mystr                   # Check if substring is present

False

## Iterable & Iterator

   #### 1. An iterable is an object that can be iterated upon. It can return an iterator object with the purpose of traversing through all                     the elements of an iterable.

   #### 2. An iterable object implements __iter()__ which is expected to return an iterator object. The iterator object uses the               __next()__ method. Everytime next() is called next element in the iterator stream is returned. When there are no more elements available StopIteration exception is encountered. So any object that has a __next()__ method is called an iterator.

   #### 3. Python lists, tuples, dictionaries and sets are all examples of iterable objects.

In [460]:
mylist = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']

list_iter = iter(mylist)  # Create an iterator object using iter()

print(next(list_iter))    # return first element in the iterator stream

print(next(list_iter))    # return next element in the iterator stream

print(next(list_iter))

print(next(list_iter))

print(next(list_iter))

PAVANI
MANOJ
AGASTYA
NAVEEN

StopIteration:

In [461]:
mylist = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']

list_iter = iter(mylist)    # Create an iterator object using iter()

print(list_iter.__next__()) # return first element in the iterator stream

print(list_iter.__next__()) # return next element in the iterator stream

print(list_iter.__next__())

print(list_iter.__next__())

PAVANI
MANOJ
AGASTYA
NAVEEN

In [462]:
mylist = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']
list_iter = iter(mylist)                          # Create an iterator object using iter()
for i in list_iter:
     print(i)

PAVANI
MANOJ
AGASTYA
NAVEEN

### Looping Through an Iterable (list) using for loop

In [463]:
mylist = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']
for i in mylist:
     print(i)

PAVANI
MANOJ
AGASTYA
NAVEEN

### Looping Through an Iterable (tuple) using for loop

In [464]:
mytuple = ['PAVANI', 'MANOJ', 'AGASTYA', 'NAVEEN']
for i in mytuple:
     print(i)

PAVANI
MANOJ
AGASTYA
NAVEEN

### Looping Through an Iterable (string) using for loop

In [465]:
mystr = "Hello, Welcome to Python World"
for i in mystr:
     print(i)

H
e
l
l
o
,

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

W
o
r
l
d

In [466]:
# This iterator produces all natural numbers from 1 to 10.

class myiter:
    def __init__(self):
        self.num = 0

    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration
            
mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
     print(i)

1
2
3
4
5
6
7
8
9
10

In [467]:
# This iterator will produce odd numbers

class myiter:
    def __init__(self):
        self.num = 0

    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        if self.num <= 20 :
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration

myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
     print(i)

1
3
5
7
9
11
13
15
17
19

In [468]:
# This iterator will produce fibonacci numbers

class myfibonacci:
    def __init__(self):
        self.prev = 0
        self.cur = 0

    def __iter__(self):
        self.prev = 0
        self.cur = 1
        return self

    def __next__(self):
        if self.cur <= 1000:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration

myfibo = myfibonacci()
iter1 = iter(myfibo)
for i in iter1:
     print(i)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

## Generator

#### 1. Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.

#### 2. It is a special type of function which returns an iterator object.

#### 3. In a generator function, a yield statement is used rather than a return statement.

#### 4. The generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.

#### 5. The difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.Local variables and their states are remembered between successive calls. In case of the return statement value is returned and the execution of the function is terminated.

#### 6. Methods like __iter()__ and __next()__ are implemented automatically in generator function.

#### 7. Simple generators can be easily created using generator expressions. Generator expressions create anonymous generator functions like lambda.

#### 8. The syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses. Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [469]:
# Simple generator function that will generate numbers from 1 to 5.

def mygen():
    n = 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
 
    n += 1
    yield n

    n += 1
    yield n

mygen1 = mygen()

print(next(mygen1))

print(next(mygen1))

print(next(mygen1))

print(next(mygen1))

print(next(mygen1))    # Function will terminate here as all 5 values have been returned.

print(next(mygen1))    # As function is already terminated, StopIteration is raised automatically.

1
2
3
4
5

StopIteration:

In [470]:
# Simple generator function that will generate natural numbers from 1 to 200.

def mygen():
    for i in range(1, 200):
        yield i

mygen1 = mygen()
for i in mygen1:
     print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [471]:
num = list(mygen())        # Store all values generated by generator function in a list
num

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]

In [472]:
# Simple generator function that will generate even numbers from 1 to 100.

def mygen():
    for i in range(1, 100):
        if i%2 == 0:
            yield i

mygen1 = mygen()
for i in mygen1:
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [473]:
# This Generator function will generate ten numbers of fibonacci series.

def myfibo():
    num1, num2 = 0, 1
    count = 0
    while count < 200:
        yield num1
        num1, num2 = num2, num1 + num2
        count+=1

fibo = myfibo()
for i in fibo:
     print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
573147844013817084101
927372692193078999176
1500520536206896083277
2427893228399975082453
3928413764606871165730
6356306993006846248183
10284720757613717413913
16641027750620563662096
26925748508234281076009
43566776258854844738105
70492524767089125814114
114059301025943970552219
184551825793033096366333
298611126818977066918552
483162952612010163284885
781774079430987230203437
1264937032042997393488322
2046711111473984623691759
3311648143516982017180081
5358359254990966640871840
8670007398507948658051921
14028366653498915298923761
22698374052006863956975682
36726740705505779255899443
59425114757512643212875125
96151855463018422468774568
155576970220531065681649693
251728825683549488150424261
407305795904080553832073954
659034621587630041982498215
1066340417491710595814572169
1725375039079340637797070384
2791715456571051233611642553
4517090495650391871408712937
7308805952221443105020355490
11825896447871834976429068427
19134702400093278081449423917
30960598847965113057878492344
50095301248058391139327916261
81055900096023504197206408605
131151201344081895336534324866
212207101440105399533740733471
343358302784187294870275058337
555565404224292694404015791808
898923707008479989274290850145
1454489111232772683678306641953
2353412818241252672952597492098
3807901929474025356630904134051
6161314747715278029583501626149
9969216677189303386214405760200
16130531424904581415797907386349
26099748102093884802012313146549
42230279526998466217810220532898
68330027629092351019822533679447
110560307156090817237632754212345
178890334785183168257455287891792
289450641941273985495088042104137
468340976726457153752543329995929
757791618667731139247631372100066
1226132595394188293000174702095995
1983924214061919432247806074196061
3210056809456107725247980776292056
5193981023518027157495786850488117
8404037832974134882743767626780173
13598018856492162040239554477268290
22002056689466296922983322104048463
35600075545958458963222876581316753
57602132235424755886206198685365216
93202207781383214849429075266681969
150804340016807970735635273952047185
244006547798191185585064349218729154
394810887814999156320699623170776339
638817435613190341905763972389505493
1033628323428189498226463595560281832
1672445759041379840132227567949787325
2706074082469569338358691163510069157
4378519841510949178490918731459856482
7084593923980518516849609894969925639
11463113765491467695340528626429782121
18547707689471986212190138521399707760
30010821454963453907530667147829489881
48558529144435440119720805669229197641
78569350599398894027251472817058687522
127127879743834334146972278486287885163
205697230343233228174223751303346572685
332825110087067562321196029789634457848
538522340430300790495419781092981030533
871347450517368352816615810882615488381
1409869790947669143312035591975596518914
2281217241465037496128651402858212007295
3691087032412706639440686994833808526209
5972304273877744135569338397692020533504
9663391306290450775010025392525829059713
15635695580168194910579363790217849593217
25299086886458645685589389182743678652930
40934782466626840596168752972961528246147
66233869353085486281758142155705206899077
107168651819712326877926895128666735145224
173402521172797813159685037284371942044301

In [474]:
list1 = list(myfibo())          # Store the fibonacci series in a list
list1

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075,
 573147844013817084101,
 927372692193078999176,
 1500520536206896083277,
 2427893228399975082453,
 3928413764606871165730,
 6356306993006846248183,
 10284720757613717413913,
 16641027750620563662096,
 26925748508234281076009,
 43566776258854844738105,
 70492524767089125814114,
 114059301025943970552219,
 184551825793033096366333,
 298611126818977066918552,
 483162952612010163284885,
 781774079430987230203437,
 1264937032042997393488322,
 2046711111473984623691759,
 3311648143516982017180081,
 5358359254990966640871840,
 8670007398507948658051921,
 14028366653498915298923761,
 22698374052006863956975682,
 36726740705505779255899443,
 59425114757512643212875125,
 96151855463018422468774568,
 155576970220531065681649693,
 251728825683549488150424261,
 407305795904080553832073954,
 659034621587630041982498215,
 1066340417491710595814572169,
 1725375039079340637797070384,
 2791715456571051233611642553,
 4517090495650391871408712937,
 7308805952221443105020355490,
 11825896447871834976429068427,
 19134702400093278081449423917,
 30960598847965113057878492344,
 50095301248058391139327916261,
 81055900096023504197206408605,
 131151201344081895336534324866,
 212207101440105399533740733471,
 343358302784187294870275058337,
 555565404224292694404015791808,
 898923707008479989274290850145,
 1454489111232772683678306641953,
 2353412818241252672952597492098,
 3807901929474025356630904134051,
 6161314747715278029583501626149,
 9969216677189303386214405760200,
 16130531424904581415797907386349,
 26099748102093884802012313146549,
 42230279526998466217810220532898,
 68330027629092351019822533679447,
 110560307156090817237632754212345,
 178890334785183168257455287891792,
 289450641941273985495088042104137,
 468340976726457153752543329995929,
 757791618667731139247631372100066,
 1226132595394188293000174702095995,
 1983924214061919432247806074196061,
 3210056809456107725247980776292056,
 5193981023518027157495786850488117,
 8404037832974134882743767626780173,
 13598018856492162040239554477268290,
 22002056689466296922983322104048463,
 35600075545958458963222876581316753,
 57602132235424755886206198685365216,
 93202207781383214849429075266681969,
 150804340016807970735635273952047185,
 244006547798191185585064349218729154,
 394810887814999156320699623170776339,
 638817435613190341905763972389505493,
 1033628323428189498226463595560281832,
 1672445759041379840132227567949787325,
 2706074082469569338358691163510069157,
 4378519841510949178490918731459856482,
 7084593923980518516849609894969925639,
 11463113765491467695340528626429782121,
 18547707689471986212190138521399707760,
 30010821454963453907530667147829489881,
 48558529144435440119720805669229197641,
 78569350599398894027251472817058687522,
 127127879743834334146972278486287885163,
 205697230343233228174223751303346572685,
 332825110087067562321196029789634457848,
 538522340430300790495419781092981030533,
 871347450517368352816615810882615488381,
 1409869790947669143312035591975596518914,
 2281217241465037496128651402858212007295,
 3691087032412706639440686994833808526209,
 5972304273877744135569338397692020533504,
 9663391306290450775010025392525829059713,
 15635695580168194910579363790217849593217,
 25299086886458645685589389182743678652930,
 40934782466626840596168752972961528246147,
 66233869353085486281758142155705206899077,
 107168651819712326877926895128666735145224,
 173402521172797813159685037284371942044301]

In [475]:
list2 = [i**2 for i in range(200)]       # List comprehension
list2

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601]

In [476]:
gen2 = (i**2 for i in range(100))             # Generator expression
gen2

In [477]:
print(next(gen2))

print(next(gen2))

print(next(gen2))

print(next(gen2))

print(next(gen2))

0
1
4
9
16

In [478]:
gen2 = (i for i in range(40) if i%2 == 0)         # Generator expression to generate even numbers
gen2
for i in gen2:
     print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

## Decorator: Decorator is very powerful and useful tool in Python as it allows us to wrap another function in order to extend the behavior of wrapped function without permanently modifying it.

### -->In Decorators functions are taken as the argument into another function and then called inside the wrapper function.

### Advantages:

#### 1. Logging & debugging
#### 2. Access control and authentication

In [479]:
def subtract(num1, num2):
    res = num1 - num2
    print('Result is :- ', res)

subtract(4,2)
subtract(2,4)

Result is :-  2
Result is :-  -2

In [480]:
''' We now want subtract() function to always subtract lower number from higher one without modifying this function.
    So when we pass (2,4) it should perform 4-2 not 2-4. To acheive this we will create a decorator function'''

def sub_decorator(func):
    def wrapper(num1, num2):
        if num1 < num2:
            num1, num2 = num2, num1
            return func(num1, num2)
        return wrapper

sub = sub_decorator(subtract)

sub(2,4)

TypeError: 'NoneType' object is not callable

In [481]:
@sub_decorator            # we can use @ syntax for decorating a function in one step

def subtract(num1, num2):
    res = num1 - num2
    print('Result is :- ', res)

subtract(2,4)

TypeError: 'NoneType' object is not callable

In [482]:
def InstallLinux():
    print('Linux installation has started \n')

def InstallWindows():
    print('Windows installation has started \n')

def InstallMac():
    print('Mac installation has started \n')

InstallLinux()

InstallWindows()

InstallMac()

print()

''' Now suppose if we want to print message :- "Please accept terms & conditions" before every installation
 then easy way will be to create one decorator function which will present this message instead of modifying all function'''


def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()

@InstallDecorator            # we can use @ syntax for decorating a function in one step

def InstallLinux():
    print('Linux installation has started \n')

@InstallDecorator

def InstallWindows():
    print('Windows installation has started \n ')

@InstallDecorator

def InstallMac():
    print('Mac installation has started \n')

Linux installation has started

Windows installation has started

Mac installation has started


Please accept terms & conditions
Linux installation has started

Please accept terms & conditions
Windows installation has started

Please accept terms & conditions
Mac installation has started

### Apply multiple decorator on a single function

In [483]:
def InstallDecorator1(func):
    def wrapper():
        print('Please accept terms & conditions...\n')
        func()
    return wrapper

def InstallDecorator2(func):
    def wrapper():
        print('Please enter correct license key...\n')
        return func()
    return wrapper

def InstallDecorator3(func):
    def wrapper():
        print('Please enter partitioning choice...\n')
        return func()
    return wrapper

@InstallDecorator1

@InstallDecorator2

@InstallDecorator3

def InstallLinux():
    print('Linux installation has started \n')

InstallLinux()

Please accept terms & conditions...

Please enter correct license key...

Please enter partitioning choice...

Linux installation has started

## File Management

### Python has several built-in modules and functions for creating, reading, updating and deleting files.

#### Open File

In [484]:
pip install python-docx

Requirement already satisfied: python-docx in c:\users\admin\anaconda3\lib\site-packages (0.8.10)
Requirement already satisfied: lxml>=2.3.2 in c:\users\admin\anaconda3\lib\site-packages (from python-docx) (4.5.2)
Note: you may need to restart the kernel to use updated packages.

In [485]:
import docx 

def main():
    try:
        doc = docx.Document('Data.docx')
        data = " "
        fullText = []
        for para in doc.paragraphs:
            fullText.append(para.text)
            data = '\n'.join(fullText)
            
        print(data)
        
    except IOError:
        print('There was an error opening the file!')

In [486]:
doc = docx.Document('Data.docx')

for para in doc.paragraphs:
    print(para.text)

What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
It is used for:
web development (server-side),
software development,
mathematics,
system scripting.
What can Python do?
Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.
Why Python?
Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
Python has a simple syntax similar to the English language.
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
Python can be treated in a procedural way, an object-oriented way or a functional way.
Good to know
The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.
Python Syntax compared to other programming languages
Python was designed for readability, and has some similarities to the English language with influence from mathematics.
Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [488]:
doc = open('Data.docx') # Open file in read/text mode

In [489]:
doc = open('Data.docx', 'r') # Open file in read mode

In [490]:
doc = open('Data.docx', 'w') # Open file in write mode

In [491]:
doc = open('Data.docx', 'a') # Open file in append mode

#### Close File

In [492]:
doc.close()

#### Read File

In [493]:
doc = open('Data.docx')

In [494]:
doc.read()   #Read whole file

''

In [495]:
doc.read()   # File cursor is already at the end of the file so it won't be able to read anything.

''

In [496]:
doc.seek(0)         # Bring file cursor to initial position.
doc.read()

''

In [497]:
doc.seek(7)            # place file cursor at loc 7
doc.read()

''

In [498]:
doc.seek(0)
doc.read(16)            # Return the first 16 characters of the file

''

In [499]:
doc.tell()              # Get the file cursor position

0

In [500]:
doc.seek(0)

print(doc.readline()) # Read first line of a file.

print(doc.readline()) # Read second line of a file.

print(doc.readline()) # Read third line of a file.

In [501]:
doc.seek(0)
doc.readlines()             # Read all lines of a file.

[]

In [502]:
# Read first 5 lines of a file using readline()

doc.seek(0)
count = 0
for i in range(5):
    if (count < 5):
        print(doc.readline())
    else:
        break
    count+=1

In [503]:
# Read first 5 lines of a file using readlines()

doc.seek(0)
count = 0
for i in doc.readlines():
    if (count < 5):
        print(i)
    else:
        break
    count+=1

### Write File

In [504]:
doc = open('Data.docx', 'a')

doc.write('THIS IS THE NEW CONTENT APPENDED IN THE FILE')   # Append content to the file

doc.close()

doc = open('Data.docx')

doc.read()

'THIS IS THE NEW CONTENT APPENDED IN THE FILE'

In [505]:
doc = open('Data.docx', "w")

doc.write("NEW CONTENT ADDED IN THE FILE. PREVIOUS CONTENT HAS BEEN OVERWRITTEN") # overwrite the content in the file

doc.close()

doc = open('Data.docx')

doc.read()

'NEW CONTENT ADDED IN THE FILE. PREVIOUS CONTENT HAS BEEN OVERWRITTEN'

In [506]:
doc = open('Data.docx', "w")        # Create a new file

doc.write("First Line\n")

doc.write("Second Line\n")

doc.write("Third Line\n")

doc.write("Fourth Line\n")

doc.write("Fifth Line\n")

doc.close()

doc = open('Data.docx')

doc.readlines()

['First Line\n',
 'Second Line\n',
 'Third Line\n',
 'Fourth Line\n',
 'Fifth Line\n']

### Delete file

In [507]:
os.remove('Data.docx')        # Delete file

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Data.docx'

In [508]:
os.remove('Data.docx')

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Data.docx'

In [509]:
os.rmdir('folder1') # Delete folder

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'folder1'

In [ ]:
os.rmdir('folder1')

## Error & Exception Handling

#### 1. Python has many built-in exceptions (ArithmeticError, ZeroDivisionError, EOFError, IndexError, KeyError, SyntaxError, IndentationError, FileNotFoundError etc) that are raised when your program encounters an error.

#### 2. When the exception occurs Python interpreter stops the current process and passes it to the calling process until it is handled. If exception is not handled the program will crash.

#### 3. Exceptions in python can be handled using a try statement. The try block lets you test a block of code for errors.

#### 4. The block of code which can raise an exception is placed inside the try clause. The code that will handle the exceptions is written in the except clause.

#### 5. The finally code block will execute regardless of the result of the try and except blocks.

#### 6. We can also use the else keyword to define a block of code to be executed if no exceptions were raised.

#### 7.Python also allows us to create our own exceptions that can be raised from the program using the raise keyword and caught using the except clause. We can define what kind of error to raise, and the text to print to the user.

In [510]:
try:
     print(100/0)                   # ZeroDivisionError will be encountered here. So the control will pass to except block

except:
     print(sys.exc_info()[1] , 'Exception occured') # This statement will be executed

else:
     print('No exception occurred') # This will be skipped as code block inside try encountered an exception
finally:
     print('Run this block of code always') # This will be always executed

division by zero Exception occured
Run this block of code always

In [511]:
try:
     print(x)            # NameError exception will be encountered if variable x is not defined

except:
     print('Variable x is not defined')

10

In [512]:
try:
     os.remove("test3.txt") # FileNotFoundError will be encountered as "test3.txt" is not present in the directory

except:                     # Below statement will be executed as exception occured.
     print("BELOW EXCEPTION OCCURED")
     print(sys.exc_info()[1])

else:
     print('\nNo exception occurred')

finally:
     print('\nRun this block of code always')

BELOW EXCEPTION OCCURED
[WinError 2] The system cannot find the file specified: 'test3.txt'

Run this block of code always

In [513]:
# Handling specific exceptions

try:
     x = int(input('Enter first number :- '))
     y = int(input('Enter first number :- ')) # If input entered is non-zero the control will move to next line
     print(x/y)
     os.remove("test3.txt")

except NameError:
     print('NameError exception occurred')

except FileNotFoundError:
     print('FileNotFoundError exception occurred')

except ZeroDivisionError:
     print('ZeroDivisionError exception occurred')

Enter first number :-

ValueError: invalid literal for int() with base 10: ''

In [514]:
# Handling specific exceptions

try:
     x = int(input('Enter first number :- '))
     y = int(input('Enter first number :- ')) # If the input entered is zero the control will move to except block.
     print(x/y)
     os.remove("test3.txt")

except NameError:
     print('NameError exception occurred')

except FileNotFoundError:
     print('FileNotFoundError exception occurred')

except ZeroDivisionError:
     print('ZeroDivisionError exception occurred')

Enter first number :- 50
Enter first number :- 20
2.5
FileNotFoundError exception occurred

In [516]:
try:
     x = int(input('Enter first number :- '))
     if x > 50:
         raise ValueError(x)          # If value of x is greater than 50 ValueError exception will be encountered.
except:
    print(sys.exc_info()[0])

Enter first number :- 55
<class 'ValueError'>

### Built-in Exceptions

In [517]:
# OverflowError - This exception is raised when the result of a numeric calculation is too large

try:
     import math
     print(math.exp(1000))

except OverflowError:
     print (sys.exc_info())
else:
     print ("Success, no error!")

(<class 'OverflowError'>, OverflowError('math range error'), <traceback object at 0x0000028D3F561340>)

In [519]:
# ZeroDivisionError - This exception is raised when the second operator in a division is zero

try:
     x = int(input('Enter first number :- '))
     y = int(input('Enter first number :- '))
     print(x/y)

except ZeroDivisionError:
     print('ZeroDivisionError exception occurred')

Enter first number :- 75
Enter first number :- 0
ZeroDivisionError exception occurred

In [520]:
# NameError - This exception is raised when a variable does not exist

try:
     print(x1)

except NameError:
     print('NameError exception occurred')

NameError exception occurred

In [521]:
# AssertionError - This exception is raised when an assert statement fails

try:
     a = 50
     b = "PAVANI"
     assert a == b

except AssertionError:
     print ("Assertion Exception Raised.")

Assertion Exception Raised.

In [522]:
# ModuleNotFoundError - This exception is raised when an imported module does not exist

try:
     import MyModule

except ModuleNotFoundError:
    print ("ModuleNotFoundError Exception Raised.")

ModuleNotFoundError Exception Raised.

In [523]:
# KeyError - This exception is raised when key does not exist in a dictionary

try:
     mydict = {1:'PAVANI', 2:'MANOJ', 3:'AGASTYA'}
     print (mydict[4])

except KeyError:
     print ("KeyError Exception Raised.")

KeyError Exception Raised.

In [524]:
# IndexError - This exception is raised when an index of a sequence does not exist.

try:
    mylist = [1,2,3,4,5,6]
    print (mylist[10])

except IndexError:
    print ("IndexError Exception Raised.")

IndexError Exception Raised.

In [525]:
# TypeError - This exception is raised when two different datatypes are combined

try:
    a = 50
    b = "PAVANI"
    c = a/b

except TypeError:
    print ("TypeError Exception Raised.")

TypeError Exception Raised.

In [526]:
# AttributeError: - This exception is raised when attribute reference or assignment fails

try:
    a = 10
    b = a.upper()
    print(b)

except AttributeError:
    print ("AttributeError Exception Raised.")

AttributeError Exception Raised.

In [527]:
try:
    x = input('Enter first number :- ')

except:
    print('ZeroDivisionError exception occurred')

Enter first number :- 150